
img { 
    width: 35vw;
    height: auto;
}
@media (orientation:portrait){
    img {
        width:80vw;
        height:auto;
    }
}

body {
    text-align: center;
    /* display: flex; */
}
.gallery img {
    width: 100px;
    height: auto;
}
input {
    width:30px;
}