canvas {
    /* border: 1px solid red; */
    /* width: 35%;
    height: auto; */
}
img { 
    width: 35vw;
    height: auto;
}
body {
    text-align: center;
    /* display: flex; */
}
.gallery img {
    width: 100px;
    height: auto;
}
input {
    width:30px;
}